<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-push" version="0.0.1">
    <name>PushNotification</name>
    <description>Push Notifications</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,notifications</keywords>

    <engines>
	   <engine name="cordova" version=">=3.2.0" />
    </engines>

    <js-module src="www/push.js" name="PushNotification">
        <clobbers target="PushNotification"/>
    </js-module>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PushNotification">
                <param name="ios-package" value="Push"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/Push.h" />
        <source-file src="src/ios/Push.m" />
        <header-file src="src/ios/AppDelegate+notification.h" />
        <source-file src="src/ios/AppDelegate+notification.m" />
    </platform>

</plugin>
